.content {
  display: flex;
  width: 50vw;
  min-height: 10vh;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
  background-color: var(--color-accent);
}

.openDialog {
  border: none;
  color: var(--color-white);
  background-color: var(--color-primary);
}
